<link rel="stylesheet" href="css/simple-sidebar.css">
<link rel="stylesheet" href="css/docs.css">

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" >
        <ul class="sidebar-nav">
            <li class="sidebar-brand"  ng-repeat="page in pages" ng-click="setContent(page)">
                <a href="#docs" >{{page.title}}</a>
            </li>

            <!--<li><a href="#" onclick="updateContent('getting-started')">Getting Started</a></li>
            <li><a href="#" onclick="updateContent('reference')">Reference</a></li>
            <li><a href="#" onclick="updateContent('demo')">Demo</a></li>-->
            
        </ul>
    </div> <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1>Here is the documentation</h1>
        <p>Use the sidebar for navigation</p>
    </div> <!-- /#page-content-wrapper -->
</div>