<link rel="stylesheet" href="css/index.css">
	<!-- Carousel -->
	<carousel class="carousel" id="myCarousel" interval="myInterval">
		<div class="carousel-inner">
			<slide ng-repeat="slide in slides" class="item" active="slide.active">
				<img ng-src="{{slide.image}}" alt="">
				<div class="container">
				    <div class="carousel-caption">
				        <h1>{{slide.title}}</h1>
				        <p>{{slide.text}}</p>
				        <p><a class="btn btn-hg btn-info" href="#/signup" role="button">Sign Up <i class="fa fa-pencil-square-o"></i></a></p>
				    </div>
				</div>
			</slide>
		</div>
	</carousel>